version: '3.8'

services:
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "5801:5801"
    env_file:
      - .env
    dns:
      - 8.8.8.8
      - 8.8.4.4
    volumes:
      - sgi-uploads:/app/uploads
      - sgi-reports:/app/reports
    environment:
      - VIRTUAL_HOST=api-sgi.dashboard-iot.pt
      - VIRTUAL_PORT=5801
      - LETSENCRYPT_HOST=api-sgi.dashboard-iot.pt
      - LETSENCRYPT_EMAIL=suporte@dashboard-iot.pt
      - PORT=5801
      - NODE_ENV=production
      - ALLOW_ALL_ORIGINS=true
      - BASE_PATH=/api
    networks:
      - sgi-network
      - nginx-proxy
    restart: unless-stopped

  frontend:
    build:
      context: ./
      dockerfile: Dockerfile.frontend
    ports:
      - "8100:80"
    env_file:
      - .env
    environment:
      - VIRTUAL_HOST=SGI.dashboard-iot.pt
      - VIRTUAL_PORT=80
      - LETSENCRYPT_HOST=SGI.dashboard-iot.pt
      - LETSENCRYPT_EMAIL=seu-email@exemplo.com
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      - sgi-network
      - nginx-proxy

networks:
  sgi-network:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 1460
  nginx-proxy:
    external: true

volumes:
  sgi-uploads:
  sgi-reports:
