version: '3.8'

services:
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "5801:5801"
    env_file:
      - .env
    environment:
      - PORT=5801
      - NODE_ENV=production
      - ALLOW_ALL_ORIGINS=true
      - BASE_PATH=/api
    volumes:
      - sgi-uploads:/app/uploads
      - sgi-reports:/app/reports
    restart: unless-stopped
    networks:
      - sgi-network

  frontend:
    build:
      context: ./
      dockerfile: Dockerfile.frontend
    ports:
      - "8100:80"
    env_file:
      - .env
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      - sgi-network

networks:
  sgi-network:
    driver: bridge

volumes:
  sgi-uploads:
  sgi-reports:
