version: '3.8'

services:
  backend:
    build: .
    ports:
      - "5801:5801"
    env_file:
      - .env
    environment:
      - PORT=5801
      - NODE_ENV=production
    volumes:
      - ./uploads:/app/uploads
      - ./reports:/app/reports
    restart: unless-stopped







